.button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 40px;
    width: 100px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 10px;

}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.buttons-container {
    float: left;
}