.instruction {
    width: 20%;
    height: 100%;
    right: 0;
    position: absolute;
    display: block;
    border-left: 0.5px solid;


    &_span {
        display: block;
        position: relative;
        top: 30%;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }
}